* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   

}
body{
    font-family: 'Roboto Condensed', sans-serif; 
}

main{
    height: 110vh;
    background: url(./images/background-image.png)  no-repeat top;
    position: relative;

}

img{
    max-width: 100%;    
    
}

/* Layer opacity for background */
.layer{
    position: absolute;
    height: 110vh;
    width: 100%;
    background-color: black;
    opacity: .3;
    top: 0%;
    left: 0%;
    

}
/* rotated text */
h1 {
    font-size: 80px;
    color: white;
    text-align: center;
    position: relative;
    top: 45px;
    font-weight: 600;
    letter-spacing: 5.5px;

}

.year {
    font-family: sans-serif;
    display: inline-block;
    position: absolute;
    top: 19.5%;
    right: -7%;
    gap: 15px;
    font-size: 120px;
    font-weight: 600;
    color: white;
    transform: rotate(270deg);
}

.year>span:nth-child(1) {
    font-size: 50px;
}


/* menu icon */
.menuIconContainer{
    position: absolute;
    top: 45px;
    cursor: pointer;
}

.menuIconContainer>ul{
    position: absolute;
    left:-270px;
    border-radius: 0 20px 20px 0;
    padding: 40px 0 20px;
    width: 270px;
    background: #000;
    color: white;
    /* Transition for menu */
    transition: transform 1s ease-in  ;
    list-style: none;
    

}
.menuIconContainer>ul>figure{
    padding: 10px 0 20px;
    display: flex;
    justify-content: center;
    margin:0  auto;
    width: 100px;
    transition:  transform 1s 1s ease-in;
 
}

.menuIconContainer:hover>ul{
    transform: translateX(270px);
}


.menuIconContainer:hover>ul>figure{
    transform: rotate(360deg);
}


.menuIconContainer>ul>li>a{
    display: block;
    padding:   12px  0;
    font-size: 19px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    color: white;

}
.menuIconContainer>ul>li>a:hover{
    background: #656565;
}

/* menu icon */
.iconBg {
    background: #000;
    color: white;
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 30px;
}
.iconBg>div{
    width: 35px;
    border: 1px solid white;
    border-radius: 2px;
}

/* bottom quote */

.quote{
    position: absolute;
    left:31.5%;
    bottom: 25px;
    color: white;
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.quote>h2{
    margin-top: -30px;
    font-size:150px ;
    letter-spacing: 12px;
}

/* bottom icons */
.bottomIcon{
    position: absolute;
    bottom:  20px;
    right: 25px;
    /* height: 110px; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
   
}

.bottomIcon>i{
    font-size: 35px;
    color: white;
}


