
* {
    margin: 0%;
    padding: 0;

}

img {
    max-width: 100%;
}
/* Body */

body { 
    background: #000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 160px;
    font-family: 'Roboto', sans-serif;
}

/* Intro section */
.introSection {
    display: flex;
    flex-direction: column;
    row-gap: 130px;
}

/* email */
.email {
    display: flex;
    height: 100px;
    flex-direction: row-reverse;
    align-items: end;
    color: white;
    

   
}

.email>h2 {
    font-weight: 600;
    font-size: 25px;
    font-stretch: 30%;
}

/* name and role */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
   

}
.name {
    display: flex;
    align-content: start;
    font-size: 170px;
    color: white;
    margin-right: 5px;
    padding-bottom: 12px;
    
}
.name>div{
    font-stretch: -20%;
    letter-spacing:-8px;
    font-stretch: -20%;
    white-space:nowrap;
}
.light{

    font-weight: 300;
    letter-spacing:-30px;
    margin-right: 30px;
}
.bold{
    font-weight: 500;
}
.role{
    font-size: 50px;
    font-weight: 600;
    color: rgb(204, 204, 204);
    letter-spacing: 1px;
}

.role>span{
    color: rgb(92, 142, 220);
}

/* ,images*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* column-gap: 36px; */
    row-gap: 31px;
    width: 79.2%;
}

main >figure{
    /* width: 31.5%; */
    width: 31.65%;

}

/* third section */

.thirdSection{
    display: flex;
    flex-direction: column;
    gap: 280px;
}



/* text below image */

.logoSection{
    display: flex;
    flex-direction: column; 
    gap: 95px;
    justify-content: center;
    align-items: center;
    
}
.logoSection>h1{
    color: rgb(204, 204, 204);
    text-align: center;
    font-size: 47px;
    font-weight: 600;
}

.logoSection>h1>span{
    color: rgb(195, 232, 145);
}
/* Logo container */


.logoSection>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

    
}
.logoSection>div>figure{
    width: 11%;
    flex-grow: 0;

}

.spotify , .ikea{
    flex-basis: 145px;
}
.audi{
    flex-basis: 120px;
}
.addidas{
    flex-basis: 90px;
    flex-shrink: 0;
}
.lufthansa{
flex-basis: 160px;
}
.mont_blanc{
    flex-basis: 117px;
}

.finalSection{
    display: flex;
    flex-direction: column;
    gap: 115px;
    justify-content: space-between;
}

.divider{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.divider>div:nth-child(1){
    border: .5px solid white;
    width: 35px;
}

.divider>div:nth-child(2){
    border: .5px solid white;
    width: 225px;
}

.iconSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.iconContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iconContainer>div{
    height: 55px;
    width: 55px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

i{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
/* final quote
 */

.finalQuote{
    font-size: 25px;
    font-weight: 500;
    color:white;
    text-align: center;
    margin-bottom: 150px;
}



/* styles for mobile view */

@media  screen and (max-width:447px) {
    body {
        justify-content: center;
        align-items: center;
        row-gap: 120px;
    }
    .introSection{
        margin-top: 255px;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .intro{
        gap: 20px;
    }
    .name{
        font-size: 55px;
    }
    .role{
        font-size: 35px;
        letter-spacing: 2px;
    }

    .email{
        height: auto;
        justify-content: center;
        font-size: 10px;
       
    }
    .email>h2 {
        font-size: 20px;
    }

    .introSection{
        row-gap: 5px;
    }

    main{
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;
    }

    main >figure{
        width:100%;
        justify-content: center;
    
    }
    .thirdSection{
        margin-top: -35px;
        gap: 190px;
    }
    .logoSection{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }
    .logoSection>h1{
        font-size: 35px;
    }
    .logoSection>div{
        justify-content: space-evenly;
        flex-wrap: wrap;
        column-gap: 100px;
        row-gap: 100px;
    }
    .spotify {
        flex-basis: 115px
    }
    .audi, .mont_blanc{
        flex-basis: 100px;
    }
    .addidas{
        flex-basis: 70px;
        flex-shrink: 0;
        margin-left: 20px;
    }
    .lufthansa{
    flex-basis: 132px;
    }
    .ikea{
        flex-basis: 120px;
    }   
    
    .finalSection{
        margin-top: 10px;
        gap: 48px;
    }

    .divider{
        gap: 25px;
    }
    .divider>div:nth-child(1){
        width: 23px;
    }
    .divider>div:nth-child(2){
        width: 145px;
    }

    .iconContainer{
        width: 100%;
    }
    
    .iconContainer>div{
        height: 58px;
        width: 58px;
        border:white solid 2px;
    }
    i{
        font-size: 35px;
    }

    .finalQuote{
        margin-top: -20px;
        margin-bottom: 60px;
    }
    
    
    
}